In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
random_state = 69

In [4]:
hotel = pd.read_csv("./data/Hotel_Reviews.csv")
hotel.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

# Prepare new dataset for hotel recommendation

In [8]:
print("number of duplicated rows:", hotel.duplicated().sum(), "\n")
print(hotel.isnull().sum())

number of duplicated rows: 526

Hotel_Address                                    0
Additional_Number_of_Scoring                     0
Review_Date                                      0
Average_Score                                    0
Hotel_Name                                       0
Reviewer_Nationality                             0
Negative_Review                                  0
Review_Total_Negative_Word_Counts                0
Total_Number_of_Reviews                          0
Positive_Review                                  0
Review_Total_Positive_Word_Counts                0
Total_Number_of_Reviews_Reviewer_Has_Given       0
Reviewer_Score                                   0
Tags                                             0
days_since_review                                0
lat                                           3268
lng                                           3268
dtype: int64

In [6]:
hotel.drop_duplicates(inplace=True)

remove_labels = ["Additional_Number_of_Scoring", "Review_Date", "Review_Total_Negative_Word_Counts",
                 "Reviewer_Nationality", "Total_Number_of_Reviews", 
                 "Review_Total_Positive_Word_Counts", "Total_Number_of_Reviews_Reviewer_Has_Given",
                 "days_since_review", "lat", "lng"]
hotel.drop(columns= remove_labels, inplace= True)

In [7]:
hotel["Negative_Review"] = hotel["Negative_Review"].apply(lambda x: x.replace("No Negative", ""))
hotel["Positive_Review"] = hotel["Positive_Review"].apply(lambda x: x.replace("No Positive", ""))
hotel["Review_content"] = hotel["Negative_Review"] + hotel["Positive_Review"]
hotel.drop(np.flatnonzero(hotel["Review_content"]==""), inplace= True)

In [37]:
hotel["Hotel_Address"] = hotel["Hotel_Address"].apply(lambda x: x.replace("United Kingdom", "UK"))
hotel["Hotel_Nation"] = hotel["Hotel_Address"].apply(lambda x: x.split(" ")[-1])

In [43]:
hotel

,Hotel_Address,Average_Score,Hotel_Name,Negative_Review,Positive_Review,Reviewer_Score,Tags,Review_content,Hotel_Nation
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",I am so angry that i made this post available...,Netherlands
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,,No real complaints the hotel was great great ...,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",No real complaints the hotel was great great ...,Netherlands
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7.1,"[' Leisure trip ', ' Family with young childre...",Rooms are nice but for elderly a bit difficul...,Netherlands
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",My room was dirty and I was afraid to walk ba...,Netherlands
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",You When I booked with your company on line y...,Netherlands
...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,8.1,Atlantis Hotel Vienna,no trolly or staff to help you take the lugga...,location,7.0,"[' Leisure trip ', ' Family with older childre...",no trolly or staff to help you take the lugga...,Austria
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,8.1,Atlantis Hotel Vienna,The hotel looks like 3 but surely not 4,Breakfast was ok and we got earlier check in,5.8,"[' Leisure trip ', ' Family with young childre...",The hotel looks like 3 but surely not 4 Brea...,Austria
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,8.1,Atlantis Hotel Vienna,The ac was useless It was a hot week in vienn...,,2.5,"[' Leisure trip ', ' Family with older childre...",The ac was useless It was a hot week in vienn...,Austria
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,8.1,Atlantis Hotel Vienna,,The rooms are enormous and really comfortable...,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",The rooms are enormous and really comfortable...,Austria
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,8.1,Atlantis Hotel Vienna,I was in 3rd floor It didn t work Free Wife,staff was very kind,8.3,"[' Leisure trip ', ' Family with young childre...",I was in 3rd floor It didn t work Free Wife ...,Austria

In [45]:
recomm_hotel = hotel.drop(columns=["Review_content"])
recomm_hotel.to_csv("./data/hotel_recommendation_based_on_review.csv", index=False)

# Preprocessing review content

In [47]:
import enchant
import spacy
from nltk.corpus import stopwords

In [99]:
hotel = pd.read_csv("./data/hotel_recommendation_based_on_review.csv")
hotel

,Hotel_Address,Average_Score,Hotel_Name,Negative_Review,Positive_Review,Reviewer_Score,Tags,Hotel_Nation
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",Netherlands
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,NaN,No real complaints the hotel was great great ...,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",Netherlands
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7.1,"[' Leisure trip ', ' Family with young childre...",Netherlands
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",Netherlands
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",Netherlands
...,...,...,...,...,...,...,...,...
515080,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,8.1,Atlantis Hotel Vienna,no trolly or staff to help you take the lugga...,location,7.0,"[' Leisure trip ', ' Family with older childre...",Austria
515081,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,8.1,Atlantis Hotel Vienna,The hotel looks like 3 but surely not 4,Breakfast was ok and we got earlier check in,5.8,"[' Leisure trip ', ' Family with young childre...",Austria
515082,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,8.1,Atlantis Hotel Vienna,The ac was useless It was a hot week in vienn...,NaN,2.5,"[' Leisure trip ', ' Family with older childre...",Austria
515083,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,8.1,Atlantis Hotel Vienna,NaN,The rooms are enormous and really comfortable...,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",Austria
515084,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,8.1,Atlantis Hotel Vienna,I was in 3rd floor It didn t work Free Wife,staff was very kind,8.3,"[' Leisure trip ', ' Family with young childre...",Austria

In [100]:
hotel["Negative_Review"] = hotel["Negative_Review"].apply(lambda x: str(x).replace("nan", ""))
hotel["Positive_Review"] = hotel["Positive_Review"].apply(lambda x: str(x).replace("nan", ""))

In [101]:
spacy.prefer_gpu()
nlp = spacy.load("en_core_web_sm")

## Extract nouns in reviews

In [102]:
en_dict = enchant.Dict("en_us")

def extractNoun(sent):
  doc = nlp(sent)
  nouns = []
  for token in doc:
    if "NN" in token.tag_ and len(token.lemma_)>2 and en_dict.check(token.lemma_):
      nouns.append(token.lemma_.lower())
  return " ".join(nouns)

In [103]:
hotel["Negative_Review_Nouns"] = hotel["Negative_Review"].apply(lambda x: extractNoun(x))

In [104]:
hotel

,Hotel_Address,Average_Score,Hotel_Name,Negative_Review,Positive_Review,Reviewer_Score,Tags,Hotel_Nation,Negative_Review_Nouns
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",Netherlands,post site trip one mistake place booking com n...
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,,No real complaints the hotel was great great ...,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",Netherlands,
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7.1,"[' Leisure trip ', ' Family with young childre...",Netherlands,room bit room story step level room tea coffee...
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",Netherlands,room floor week furniture picture door dog sho...
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",Netherlands,company line picture room room staff suite adv...
...,...,...,...,...,...,...,...,...,...
515080,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,8.1,Atlantis Hotel Vienna,no trolly or staff to help you take the lugga...,location,7.0,"[' Leisure trip ', ' Family with older childre...",Austria,staff luggage room
515081,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,8.1,Atlantis Hotel Vienna,The hotel looks like 3 but surely not 4,Breakfast was ok and we got earlier check in,5.8,"[' Leisure trip ', ' Family with young childre...",Austria,hotel
515082,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,8.1,Atlantis Hotel Vienna,The ac was useless It was a hot week in vienn...,,2.5,"[' Leisure trip ', ' Family with older childre...",Austria,week air
515083,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,8.1,Atlantis Hotel Vienna,,The rooms are enormous and really comfortable...,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",Austria,
515084,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,8.1,Atlantis Hotel Vienna,I was in 3rd floor It didn t work Free Wife,staff was very kind,8.3,"[' Leisure trip ', ' Family with young childre...",Austria,floor work free wife

In [105]:
hotel.to_csv("./data/hotel_recommendation_based_on_review.csv")

In [106]:
hotel["Positive_Review_Nouns"] = hotel["Positive_Review"].apply(lambda x: extractNoun(x))

In [107]:
hotel.to_csv("./data/hotel_recommendation_based_on_review.csv")

In [97]:
extractNoun("school is not alm a r university")

'school university'

# Vocab build

In [8]:
no_review = 250000
np.random.seed(random_state)
reviews = np.random.choice(hotel["Review_content"].to_numpy(), size=no_review)

In [ ]:
vocab = dict()
for i, review in enumerate(reviews):
  if i % 10000 == 0:
    print(i)
  doc = nlp(review)
  for token in doc:
    if "NN" in token.tag_:
      vocab[token.lemma_] = vocab.get(token.lemma_, 0) + 1

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000

In [ ]:
sorted_dict = sorted(vocab.items(), reverse=True, key=lambda item: item[1])
len(sorted_dict)

11582

In [ ]:
vocab_df = pd.DataFrame(sorted_dict, columns=["word", "count"])
vocab_df.to_csv("./data/vocab.csv")

# Train test split

In [3]:
hotel_recomm_path = "./data/hotel_recomm_reviews.csv"
hotel_re_df = pd.read_csv(hotel_recomm_path)
hotel_re_df.head()

,Hotel_Address,Average_Score,Hotel_Name,Negative_Review,Positive_Review,Reviewer_Score,Tags,Hotel_Nation,Negative_Review_Nouns,Positive_Review_Nouns
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,I am so angry that i made this post available...,Only the park outside of the hotel was beauti...,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",Netherlands,post site trip one mistake place booking com n...,park hotel
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,NaN,No real complaints the hotel was great great ...,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",Netherlands,NaN,complaint hotel location surrounding room amen...
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,Rooms are nice but for elderly a bit difficul...,Location was good and staff were ok It is cut...,7.1,"[' Leisure trip ', ' Family with young childre...",Netherlands,room bit room story step level room tea coffee...,location staff hotel breakfast range
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,My room was dirty and I was afraid to walk ba...,Great location in nice surroundings the bar a...,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",Netherlands,room floor week furniture picture door dog sho...,location surrounding bar restaurant area build...
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,7.7,Hotel Arena,You When I booked with your company on line y...,Amazing location and building Romantic setting,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",Netherlands,company line picture room room staff suite adv...,location setting

In [10]:
rng = np.random.default_rng(seed= random_state)
final_train_ids = []
final_test_ids = []

for hotel in np.unique(hotel_re_df["Hotel_Name"]):
  data = hotel_re_df[hotel_re_df["Hotel_Name"] == hotel]
  data_ids = data.index.to_numpy()
  train_size = int(len(data_ids) * 0.8)
  train_ids = rng.choice(data_ids, size= train_size, replace= False)
  test_ids = np.setdiff1d(data_ids, train_ids)
  final_train_ids.append(train_ids)
  final_test_ids.append(test_ids)

final_test_ids = np.concatenate(final_test_ids)
final_train_ids = np.concatenate(final_train_ids)

In [22]:
train_path = "./data/train_reviews.csv"
hotel_re_df.iloc[final_train_ids].to_csv(train_path, index= False)

In [21]:
test_path = "./data/test_reviews.csv"
hotel_re_df.iloc[final_test_ids].to_csv(test_path, index= False)